/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Roboto,Arial", sans-serif;
    font-weight: 900;
}
h2 {
    text-align: center;
    font-size: 1.5em;
    font-family: "Roboto,Arial", sans-serif;
    font-weight: bold;
}
b{
  font-weight: bold;
  padding: 10px;
}
.center {
    text-align: center;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.subtab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.hide-el {
  display: none;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.subtab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
.subtab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}
button.subtab.active {
  background-color: #ccc;
}


/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.subtabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.titlecontent {
  padding: 7px;
  border-top: none;
}
h3.titlecontent {
  font-size: 1.3em;
}

input,select{
  margin: 5px;
}
